*{
    font-family: "Tahoma", sans-serif;
}
#signup_page{
    --ion-background-color:linear-gradient(90deg,
    hsla(5, 100%, 81%, 1) 10%,
    hsl(46, 76%, 92%) 20%,
    hsl(168, 68%, 84%) 20%,
    hsl(188, 45%, 78%) 30%);
}
.signup_input{
    margin: 5% auto;
    background-color: rgba(255,252,252,0.7);
    width: 90%;
    border-radius: 5%;
    height: 7%;
    border:solid darkgrey 1px;
}
#signupBtn{
    margin:auto 40%;
    width: 20%;
    background-color: #3ca4b5;
    position: center;
    border-radius: 5%;
}

#signupBtn:hover{
    background-color: #6dbbc8;
}

#signup_grid{
    margin: 2% auto;
    height: 90%;
    width: 50%;
    --ion-card-background: url("../design/login/pencils.jpg") 0 0/100% 100%;
}

.icon{
    margin-left: 5px;
}