#img{
    width: 5%;
    height: 5%;
    float: left;
    display: inline-block;
}

#logoutBtn:hover{
    --ion-color-base: #5a0505;
    cursor: pointer;
}

#logoutBtn{
    --ion-color-base: #0090ff;
}

#header{
    --ion-background-color: #faf3db;
}

#logoName{
    font-family: "Comic Sans MS";
}
*{
    vertical-align: center;
}