#img{
    width: 50px;
    height: 50px;
    float: left;
    display: inline-block;
    margin-top: 0.5%;
}

#logoutBtn:hover{
    --ion-color-base: #5a0505;
    cursor: pointer;
}

#logoutBtn{
    --ion-color-base: #0090ff;
}

#header{
    --ion-background-color: #faf3db;
}
