#profilePic{
    width: 400px;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    border-style: double;
    border-color: #d69c09;
}
#profilePic:hover{
    opacity: 40%;
    cursor: pointer;
}

.settingsForm{
    width: 70%;
    float: right;
    display: inline-block;
    height: calc(100% - 65px);
}
.settingsOptions{
    width: 25%;
    display: inline-block;
    float: left;

}
.settingsOption:hover{
    --ion-background-color: rgb(252, 247, 231);
    cursor: pointer;
    color: #c8920b;
}

.settingsInput{
    color: #113f69;
}